:root {
    --primary-dark: #333;
    --primary-light: #ededed;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--primary-light);
    color: var(--primary-dark);
    font-family: "Roboto", sans-serif;
    min-height: 100vh;
    overflow: hidden;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.hero h1{
    font-size: 3rem;
}

.hero p {
    font-size: large;
    margin-top: 20px;
    max-width: 600px;
    text-align: center;
    line-height: 1.5;
}

.score {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.players {
    margin-top: 20px;
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.icon {
    width: 25px;
    height: 25px;
    vertical-align: middle;
    margin: 0 5px;
}

.player-icon {
    width: 70%;
    height: 70%;
    object-fit: contain;
    pointer-events: none;
}

.grid {
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(3, 130px);
    grid-template-rows: repeat(3, 130px);
    gap: 0;
}

.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: var(--primary-light);
    border-right: 2px solid var(--primary-dark);
    border-bottom: 2px solid var(--primary-dark);
}

.cell:nth-child(3n) {
    border-right: none;
}

.cell:nth-child(n + 7) {
    border-bottom: none;
}
