:root {
    --primary-dark: #333;
    --primary-light: #ededed;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--primary-light);
    color: var(--primary-dark);
    font-family: "Roboto", sans-serif;
    min-height: 100vh;
    overflow: hidden;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.hero h1{
    font-size: 3rem;
}

.hero p {
    font-size: large;
    margin-top: 20px;
    max-width: 600px;
    text-align: center;
    line-height: 1.5;
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.players {
    margin-top: 20px;
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.icon {
    width: 25px;
    height: 25px;
    vertical-align: middle;
    margin: 0 5px;
}

.player-icon {
    width: 70%;
    height: 70%;
    object-fit: contain;
    pointer-events: none;
}

.grid {
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(3, 130px);
    grid-template-rows: repeat(3, 130px);
    gap: 0;
}

.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: var(--primary-light);
    border-right: 2px solid var(--primary-dark);
    border-bottom: 2px solid var(--primary-dark);
}

.cell:nth-child(3n) {
    border-right: none;
}

.cell:nth-child(n + 7) {
    border-bottom: none;
}

.mode {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#easy-mode {
    width: 150px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    background-color: #ccc;
    color: #000;
    transition: background-color 0.3s;
    margin-bottom: 10px;
}

#easy-mode.active {
    background-color: #4CAF50;
    color: white;
}

.movestable {
    margin-top: 10px;
    color: black;
}

.movestable table {
    border: 1 solid black;
    border-collapse: collapse;
    width: 220px;
    font-size: 1rem;
    text-align: center;
    border-radius: 5px;
}

.movestable th,
.movestable td {
    border: 1px solid #333;
    padding: 8px;
}
